@use "brand" as *;

.button {
  border: none;
  outline: none;
  padding-inline: 1.5rem;
  padding-block: 0.7rem;
  border-radius: 0.6rem;
  margin-block-start: 1.3rem;
  cursor: pointer;

  font-size: 1.15rem;
  font-weight: 600;
  color: rgb(250, 250, 250);

  transition:
    background 0.4s ease-in-out,
    transform 0.2s ease;

  &.primary-button {
    background: $brand-gradient-solid;
    opacity: 100%;
    &:disabled {
      
      cursor: not-allowed;
      pointer-events: none;

      background: #262e3f;
      color: rgb(220, 217, 217);
    }
  }

  &.primary-button:hover {
    opacity: 90%;
    transform: translateY(-1px);
  }

  &:active {
    transform: scale(0.97);
  }
}
